{% if our-fabrics == 'second-skin-light-weight' %}
{% assign color = '#f7b0be' %}
<h1 class="fabric-heading"><b>SECOND SKIN</b> - Light Weight</h1>
<div class="flex">
  <div class="fabric-text">
    <p>Our most popular performance, leisurewear fabric. Light in weight with a super soft peach hand feel. Provides the wearer supreme comfort with an excellent range of movement due to its stretch ability. Is quick drying and wrinkle free.</p>
    <b>Recommended for...<span>Light to moderate workouts and leisurewear.</span></b>
  </div>
  <div class="fabric-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="77" height="77" viewBox="0 0 77 77" xml:space="preserve">
      <circle cx="38.5" cy="38.5" r="38.5" fill="{{color}}"/>
      <path d="M36.4 30.1l1.2 5.4v-6.9c0 0 8.3-3.8 11.5-8.6 2.9-4.4 3.4-8.6 3.4-11.3 0 0 3.9 8 3.2 13.7l-2.7 3 2.8-1.1c0 0 0.7 5.5-4.1 13.8C45 49.2 27.9 52.7 24.6 62.6c0 0 3.7-10.8 12.5-18.5 8.7-7.6 10.5-14.7 10.5-14.7S43 36.7 36.8 41.8c-7.7 6.3-14.5 14-15.6 26.5C21.2 68.4 21.5 39.8 36.4 30.1z" fill="#FFF"/>
    </svg>
  </div>
</div>
{% endif %}
  
{% if our-fabrics == 'second-skin-medium-weight' %}
{% assign color = '#e47e9d' %}
<h1 class="fabric-heading"><b>SECOND SKIN</b> - Medium Weight</h1>
<div class="flex">
  <div class="fabric-text">
    <p>Excellent quality with a medium weight thickness. Manufactured in a clean-faced solid black color. Beautifully soft to the touch with stretch in every corner. Perfect for the female who wants a little more sliming and hold without a heavy compression feel.</p>
    <b>Recommended for...<span>light to moderate workouts, street wear, leisurewear</span></b>
  </div>
  <div class="fabric-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="77" height="77" viewBox="0 0 77 77" xml:space="preserve">
      <circle cx="38.5" cy="38.5" r="38.5" fill="{{color}}"/>
      <path d="M36.4 30.1l1.2 5.4v-6.9c0 0 8.3-3.8 11.5-8.6 2.9-4.4 3.4-8.6 3.4-11.3 0 0 3.9 8 3.2 13.7l-2.7 3 2.8-1.1c0 0 0.7 5.5-4.1 13.8C45 49.2 27.9 52.7 24.6 62.6c0 0 3.7-10.8 12.5-18.5 8.7-7.6 10.5-14.7 10.5-14.7S43 36.7 36.8 41.8c-7.7 6.3-14.5 14-15.6 26.5C21.2 68.4 21.5 39.8 36.4 30.1z" fill="#FFF"/>
    </svg>
  </div>
</div>
{% endif %}
  
  
{% if our-fabrics == 'soft-compression-heavy-weight' %}
{% assign color = '#a53b67' %}
<h1 class="fabric-heading"><b>SOFT COMPRESSION</b> - Heavy Weight</h1>
<div class="flex">
  <div class="fabric-text">
    <p>A soft compression fabric that offers supreme comfort plus performance. Super stretch ability that holds and shapes. If you prefer a more supportive feel in your sportswear this fabric would be a good choice for you. Sweat-wicking and breathable, great for sweaty workouts. Not See-Through and squat proof.</p>
    <b>Recommended for...<span>Multisport and leisurewear </span></b>
  </div>
  <div class="fabric-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="77" height="77" viewBox="0 0 77 77" xml:space="preserve">
      <circle cx="38.5" cy="38.5" r="38.5" fill="{{color}}"/>
      <path d="M36.4 30.1l1.2 5.4v-6.9c0 0 8.3-3.8 11.5-8.6 2.9-4.4 3.4-8.6 3.4-11.3 0 0 3.9 8 3.2 13.7l-2.7 3 2.8-1.1c0 0 0.7 5.5-4.1 13.8C45 49.2 27.9 52.7 24.6 62.6c0 0 3.7-10.8 12.5-18.5 8.7-7.6 10.5-14.7 10.5-14.7S43 36.7 36.8 41.8c-7.7 6.3-14.5 14-15.6 26.5C21.2 68.4 21.5 39.8 36.4 30.1z" fill="#FFF"/>
    </svg>
  </div>
</div>
{% endif %}
  
{% if our-fabrics == 'compresssion-heavy-weight' %}
{% assign color = '#5e1637' %}
<h1 class="fabric-heading"><b>COMPRESSION</b> - Heavy Weight</h1>
<div class="flex">
  <div class="fabric-text">
    <p>A thicker Nylon, Spandex blend. Designed with wick ability to allow moisture to pass through the surface of the fabric away from your skin. A great performance fabric that keeps you cool and dry. Holds its shape, will not pill or fade.</p>
    <b>Recommended for...<span>Multisport and heavier workouts</span></b>
  </div>
  <div class="fabric-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="77" height="77" viewBox="0 0 77 77" xml:space="preserve">
      <circle cx="38.5" cy="38.5" r="38.5" fill="{{color}}"/>
      <path d="M36.4 30.1l1.2 5.4v-6.9c0 0 8.3-3.8 11.5-8.6 2.9-4.4 3.4-8.6 3.4-11.3 0 0 3.9 8 3.2 13.7l-2.7 3 2.8-1.1c0 0 0.7 5.5-4.1 13.8C45 49.2 27.9 52.7 24.6 62.6c0 0 3.7-10.8 12.5-18.5 8.7-7.6 10.5-14.7 10.5-14.7S43 36.7 36.8 41.8c-7.7 6.3-14.5 14-15.6 26.5C21.2 68.4 21.5 39.8 36.4 30.1z" fill="#FFF"/>
    </svg>
  </div>
</div>
{% endif %}
  
{% if our-fabrics == 'anti-bacterial-light-weight' %}
{% assign color = '#f06ca8' %}
<h1 class="fabric-heading"><b>ANTI-BACTERIAL</b> - Light Weight</h1>
<div class="flex">
  <div class="fabric-text">
    <p>A thicker Nylon, Spandex blend. Designed with wick ability to allow moisture to pass through the surface of the fabric away from your skin. A great performance fabric that keeps you cool and dry. Holds its shape, will not pill or fade.</p>
    <b>Recommended for...<span>Multisport, gym workouts and leisurewear</span></b>
  </div>
  <div class="fabric-icon">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="77" height="77" viewBox="0 0 77 77" xml:space="preserve">
      <circle cx="38.5" cy="38.5" r="38.5" fill="{{color}}"/>
      <path d="M36.4 30.1l1.2 5.4v-6.9c0 0 8.3-3.8 11.5-8.6 2.9-4.4 3.4-8.6 3.4-11.3 0 0 3.9 8 3.2 13.7l-2.7 3 2.8-1.1c0 0 0.7 5.5-4.1 13.8C45 49.2 27.9 52.7 24.6 62.6c0 0 3.7-10.8 12.5-18.5 8.7-7.6 10.5-14.7 10.5-14.7S43 36.7 36.8 41.8c-7.7 6.3-14.5 14-15.6 26.5C21.2 68.4 21.5 39.8 36.4 30.1z" fill="#FFF"/>
    </svg>
  </div>
</div>
{% endif %}