{{ 'jquery.fancybox.js' | asset_url | script_tag }}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
<section class="homepage-section home-top-slider" class="no-fouc">
  <div class="flexslider showdesktop">
    <ul class="slides">
      {% for block in section.blocks %}
      <li class="slide-{{block.id}}">
        <a href="{{ block.settings.button_link }}">
          <img class="flexslider-lazyload" data-src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.image.alt }}" />
          <div class="desktop-title-container">
            {% if block.settings.desktop_title != blank %}
            <h2>{{block.settings.desktop_title}}</h2>
            {% endif %}
            {% if block.settings.desktop_sub_title != blank %}
            <span>{{block.settings.desktop_sub_title}}</span>
            {% endif %}
          </div>
          {% if block.settings.button_text != blank %}
          <span class="hero_button">{{block.settings.button_text}}</span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="flexslider showmobile">
    <ul class="slides">
      {% for block in section.blocks %}
      <li class="slide-{{block.id}}">
        <a href="{{ block.settings.button_link }}">
          <img class="flexslider-lazyload" data-src="{{ block.settings.mobile_image | img_url:'master' }}" alt="{{ block.settings.mobile_image.alt }}" />
          <div class="mobile-title-container">
            {% if block.settings.mobile_title != blank %}
            <h2>{{block.settings.mobile_title}}</h2>
            {% endif %}
            {% if block.settings.mobile_sub_title != blank %}
            <span>{{block.settings.mobile_sub_title}}</span>
            {% endif %}
          </div>
          {% if block.settings.button_text != blank %}
          <span class="hero_button">{{block.settings.button_text}}</span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<style>
  @media screen and (min-width: 768px) {
  {% for block in section.blocks %}
    .slide-{{block.id}} .hero_button{
      background-color:{{block.settings.desktop-btn-background}};
      border-color:{{block.settings.desktop-btn-border}};
      color:{{block.settings.desktop-btn-text-color}};
    }
    .slide-{{block.id}} .desktop-title-container h2, .slide-{{block.id}} .desktop-title-container span{color:{{block.settings.desktop-text-color}};}
  {% endfor %}
  }
  @media screen and (max-width: 767px) {
  {% for block in section.blocks %}
    .slide-{{block.id}} .hero_button{
      background-color:{{block.settings.mobile-btn-background}};
      border-color:{{block.settings.mobile-btn-border}};
      color:{{block.settings.mobile-btn-text-color}};
    }
    .slide-{{block.id}} .mobile-title-container h2, .slide-{{block.id}} .mobile-title-container span{color:{{block.settings.mobile-text-color}};}
    .slide-{{block.id}} .mobile-title-container h2{line-height:28px !important;}
  {% endfor %}
  }
  
</style>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1560 x 1050px .jpg recommended"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image",
            "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped."
          },
          {
            "type": "text",
            "id": "desktop_title",
            "label": "Desktop Title"
          },
          {
            "type": "text",
            "id": "desktop_sub_title",
            "label": "Desktop Sub Title"
          },
          {
            "type": "text",
            "id": "mobile_title",
            "label": "Mobile Title"
          },
          {
            "type": "text",
            "id": "mobile_sub_title",
            "label": "Mobile Sub Title"
          },
          {
            "type": "color",
            "id": "desktop-text-color",
            "label": "Desktop Text Color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "mobile-text-color",
            "label": "Mobile Text Color",
            "default": "#000"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          },
          {
            "type": "color",
            "id": "desktop-btn-background",
            "label": "Desktop Button BG color",
            "default": "transparent"
          },
          {
            "type": "color",
            "id": "desktop-btn-border",
            "label": "Desktop Button Border color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "desktop-btn-text-color",
            "label": "Desktop Button Text color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "mobile-btn-background",
            "label": "Mobile Button BG color",
            "default": "transparent"
          },
          {
            "type": "color",
            "id": "mobile-btn-border",
            "label": "Mobile Button Border color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "mobile-btn-text-color",
            "label": "Mobile Button Text color",
            "default": "#fff"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
