<div class="section-title desktop-12 mobile-3">
  <h1>{{ page.title }}</h1>
</div>
<div id="content" class="row" >

<div class="desktop-6 desktop-push-3 mobile-3 tablet-6">

 {% layout settings.customer_layout %}
<div id="content" class="row" >
<div id="customer-wrapper" class="desktop-12 mobile-3">

  <!-- Left Side -->

  <div id="template" class="desktop-12 mobile-3">

    <!-- Guest Checkout login -->

    {% if shop.checkout.guest_login %}
    <div id="guest" class="desktop-12 mobile-3">
      <div class="template_header">
        <h2>{{ 'customer.login.gue1st_title' | t }}</h2>
        {% form 'guest_login' %}
        <input aria-label="Continue with guest checkout" class="secondary button" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
        {% endform %}
      </div>
    </div>
    {% endif %}

    <div class="clear"></div>

    <!-- End Guest Checkout login -->
    <!-- Customer Login -->


    <div id="customer" class="desktop-12 mobile-3">
      <div class="rte" style="padding-bottom: 30px;">{{ page.content }}</div>
      <div class="template_header">
        <h2>{{ 'customer.login.title' | t }}</h2>
      </div>

      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}

      <div id="login_password" class="clearfix large_form">
        <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
        <div id="forgot_password">
          <a href="#" onkeypress="showRecoverPasswordForm();return false;" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
        </div>
      </div>

      {% endif %}

      <div class="action_bottom">
        <input aria-label="Sign-in" class="secondary button" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
      </div>

      {% endform %}
    </div>


    <!-- End Customer Login -->
    <!-- Password Recovery -->


    <div id="recover-password" class="desktop-12 mobile-3" style='display:none'>
      <div class="template_header">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
      </div>

      {% form 'recover_customer_password' %}

      {{ form.errors | default_errors }}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>

      <div class="action_bottom">
        <input aria-label="Recover password now" class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
        <span class="note"><a href="#" onkeypress="hideRecoverPasswordForm();return false;" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
      </div>

      {% endform %}
    </div>
  </div>


    <!-- End Left Side -->


    <!-- End Password Recovery -->
    <!-- Create Account -->




</div>
</div>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>




</div>

</div>
